html {
    height: 100%;
}
body {
    background: #000000;
    background: -moz-radial-gradient(center, ellipse cover, #616161 0%, #000000 100%); /* ff3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #616161), color-stop(100%, #000000)); /* safari4+,chrome */
    background: -webkit-radial-gradient(center, ellipse cover, #616161 0%, #000000 100%); /* safari5.1+,chrome10+ */
    background: -o-radial-gradient(center, ellipse cover, #616161 0%, #000000 100%); /* opera 11.10+ */
    background: -ms-radial-gradient(center, ellipse cover, #616161 0%, #000000 100%); /* ie10+ */
    background: radial-gradient(ellipse at center, #616161 0%, #000000 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#616161', endColorstr='#000000',GradientType=1 ); /* ie6-9 */
}